body {
    padding: 0;
    margin: 0;
}

button {
    background-color: #234465;
    color: #FFAB00;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 23px;
    padding: 20px 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background-color: #1a2e4c;
}