@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div id="primary" class="content-area col-md-8 mx-auto">
                <div id="content" class="site-content" role="main">
                    <article id="post-108" class="post-108 page type-page status-publish hentry">
                        <header class="entry-header">
                            <h1 class="entry-title">Terms of Service (Lorem Ipsum content)</h1>
                        </header><!-- .entry-header -->

                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <ol>
                                <li>
                                    <strong>Lorem Ipsum</strong>
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Dolor Sit Amet</strong>
                                    <ol>
                                        <li>Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</li>
                                        <li>Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Consectetur Adipiscing</strong>
                                    <ol>
                                        <li>Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Elit Sed Do</strong>
                                    <ol>
                                        <li>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</li>
                                        <li>Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Labore Et Dolore</strong>
                                    <ol>
                                        <li>Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Magna Aliqua</strong>
                                    <ol>
                                        <li>Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Ut Enim Ad Minim</strong>
                                    <ol>
                                        <li>Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.</li>
                                        <li>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Veniam Quis Nostrud</strong>
                                    <ol>
                                        <li>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Exercitation Ullamco</strong>
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Laboris Nisi</strong>
                                    <ol>
                                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Aliquip Ex Ea</strong>
                                    <ol>
                                        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
