html{
    box-sizing: border-box;
}


.container{
    display: flex;
    text-align: center;
    max-width: 65vw;
}
span{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.notes{
    flex-direction: column;
}
.week{
    display: flex;
}
